*{
    box-sizing: border-box;
    background: #ccc;
}


.container{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    position: sticky;
    top: 0;
    opacity: 0.89;
    justify-content: space-around;
}

.item{
    border: 1px solid black;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    background-color: orange;
    margin: 10px;
    padding: 10px;
}

h3{
    background-color: orange;
}

p{
    font-size: 600px;
}
