.carousel-item{
    height: 800px;
    width: 100%;
}

.carousel-image-1{
    background-image: url("https://cdn.pixabay.com/photo/2021/08/17/14/48/sea-6553205__480.jpg");
    background-size: cover;
}

.carousel-image-2{
    background-image: url("https://cdn.pixabay.com/photo/2021/08/18/11/55/coneflowers-6555363__480.jpg");
    background-size: cover;
}

.carousel-image-3{
    background-image: url("https://cdn.pixabay.com/photo/2017/09/11/15/58/sunset-2739472__480.jpg");
    background-size: cover;
}
