body{
    background-color: green;
    height: 100%;
}

.wrapper{
    width: 800px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
}

h1{
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
}

#seconds, #mini{
    font-size: 2em;
}

button{
    border-radius: 5px;
    border: 1px solid #fff;
    background:#fff;
    color:black;
    cursor: pointer;
    padding: 20px 10px;
    outline: none;
    text-decoration: none;
    margin: 10px;
    width: 200px;
}

button:hover{
    transition: .3s;
    background-color: #fff;
    border: 1px solid #fff;
    background: greenyellow;
}