.dropbox{
    display: inline-block;
}

.dropdown-content{
    display: none;
    float: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #f7f7f7;
    min-width: 30px;
}

.dropdown-content a {
    display: block;
    text-decoration: none;

}

.show{
    display: block;
    position: absolute;
}