.dropdown-content {
    display: none;
}

.dropdown-content a{
    display: block;
    text-decoration: none;
}


.dropdown{
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a:hover{
    background-color: gray;
}