
* {
    margin: 0;
    padding: 0;
}




.logoWeb{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar{
    background-color: rgb(35, 47, 62);
    padding: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    position: sticky;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 2px 20px;
    display: inline-block;
}

.navbar a:hover{
    color: #e5e5e5;
}

.show-img{
    position: relative;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.show{
    display: block;
    animation: opa 3s alternate ;
    border: 1px solid black;
}


.boxParent{
    border: 1px solid black;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes opa{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

img{
    display: none;
    max-width: 400px;
    max-height: 400px;
}



