@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
}



header{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 2.7rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 99;
}

.logo a{
    padding: 10px;
    text-decoration: none;
    color: blue;
    margin: 30px;
}

.logo a:first-child{
    margin-left: 100px;
}

button{
    border:1px solid white;
    border-radius: 20%;
}


button:hover{
    color: white;
}


.serch{
    display: flex;
    justify-content: center;
    align-items: center;
}

.serch:last-child{
    margin-right: 30px;
}



.serch a{
    color: blue;
    text-align: center;
    text-decoration: none;
    margin: 30px;
}



.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}

.img-items-container1{
    width: 300px;
    margin-left: 90px;
}


#img1, #img2, #img3{
    display: none;
    animation: ap 5s alternate;
}


@keyframes ap{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


#text-apple-1, #text-apple-2, #text-apple-3{
    display: none;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    animation: ap 3s alternate;
    font-family: 'Roboto', sans-serif;
}


/* info */

.info{
    width: 100%;
    height: 100vh;
    background-color: rgba(12, 19, 40);
}



.wrapper {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
}
  


.wrapper ul {
    list-style: none;
}
  



.wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
}
  



.wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
}
  



.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}
  


.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

  
.wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}
  

.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}
  
  
  
@media screen and (max-width: 640px){
    .wrapper {
        width: 350px;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 60px;
    }
}
  
  
@media screen and (max-width: 340px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
}
  









